USE [essenza_system_db]
GO
/****** Object:  Table [dbo].[cargos]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](50) NOT NULL,
	[salario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[id_sexo] [int] NOT NULL,
	[id_estado_civil] [int] NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK__clientes__677F38F5F268B2BD] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id_factura] [int] NULL,
	[id_cliente] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_inventario] [int] NOT NULL,
	[fecha_venta] [datetime] NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[precio_cantidad] [decimal](10, 2) NOT NULL,
	[itbis] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[id_sexo] [int] NOT NULL,
	[id_estado_civil] [int] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[edad] [int] NOT NULL,
	[fecha_contrato] [date] NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_cargo] [int] NOT NULL,
	[salario] [decimal](10, 2) NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK__employes__F807679C5456BF16] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_civiles]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_civiles](
	[id_estado_civil] [int] IDENTITY(1,1) NOT NULL,
	[estado_civil] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_civil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_venta] [datetime] NOT NULL,
	[id_metodo_pago] [int] NOT NULL,
	[total_pagado] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventarios]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventarios](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_suplidor] [int] NOT NULL,
	[producto] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_compra] [decimal](10, 2) NOT NULL,
	[precio_venta] [decimal](10, 2) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[fecha_ingreso] [datetime] NOT NULL,
 CONSTRAINT [PK__inventar__013AEB51FFD0EEBF] PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pagos]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pagos](
	[id_metodo_pago] [int] IDENTITY(1,1) NOT NULL,
	[metodo_pago] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paises]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportes]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportes](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[reporte] [varchar](50) NOT NULL,
	[id_tipo_reporte] [int] NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sexos]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexos](
	[id_sexo] [int] IDENTITY(1,1) NOT NULL,
	[sexo] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suplidores]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suplidores](
	[id_suplidor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_pais] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[RNC] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_suplidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_reportes]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_reportes](
	[id_tipo_reporte] [int] IDENTITY(1,1) NOT NULL,
	[tipo_reporte] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 5/1/2026 16:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[ultimo_acceso] [datetime] NOT NULL,
 CONSTRAINT [PK__usuarios__4E3E04AD31CD2C29] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cargos] ON 

INSERT [dbo].[cargos] ([id_cargo], [cargo], [salario]) VALUES (1, N'Gerente de Producción', CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[cargos] ([id_cargo], [cargo], [salario]) VALUES (2, N'Especialista en Control de Calidad', CAST(40000.00 AS Decimal(10, 2)))
INSERT [dbo].[cargos] ([id_cargo], [cargo], [salario]) VALUES (3, N'Químico', CAST(60000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([id_categoria], [categoria]) VALUES (1, N'Higiene personal')
INSERT [dbo].[categorias] ([id_categoria], [categoria]) VALUES (2, N'Productos de cabello')
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombres], [apellidos], [id_sexo], [id_estado_civil], [cedula], [telefono], [email], [direccion], [id_estado]) VALUES (1, N'Jula', N'Maria', 1, 1, N'023-002548-4', N'809-111-4571', N'jm@gmail.com', N'SPM, Barrio Lindo', 1)
INSERT [dbo].[clientes] ([id_cliente], [nombres], [apellidos], [id_sexo], [id_estado_civil], [cedula], [telefono], [email], [direccion], [id_estado]) VALUES (2, N'Marcos', N'Gomez', 1, 1, N'023-015548-3', N'809-145-4851', N'mg@gmail.com', N'La Romana, barrio George', 1)
INSERT [dbo].[clientes] ([id_cliente], [nombres], [apellidos], [id_sexo], [id_estado_civil], [cedula], [telefono], [email], [direccion], [id_estado]) VALUES (3, N'Kiara', N'Peres', 1, 1, N'023-015924-4', N'829-181-0071', N'kp@gmail.com', N'Consuelo, Barrio Hato Mayor', 1)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
INSERT [dbo].[detalle_factura] ([id_factura], [id_cliente], [id_empleado], [id_inventario], [fecha_venta], [descripcion], [cantidad], [precio_unitario], [precio_cantidad], [itbis], [subtotal]) VALUES (7, 3, 6, 1, CAST(N'2025-10-31T11:05:42.660' AS DateTime), N'Pago realizado con exito', 5, CAST(169.00 AS Decimal(10, 2)), CAST(845.00 AS Decimal(10, 2)), CAST(128.90 AS Decimal(10, 2)), CAST(973.90 AS Decimal(10, 2)))
INSERT [dbo].[detalle_factura] ([id_factura], [id_cliente], [id_empleado], [id_inventario], [fecha_venta], [descripcion], [cantidad], [precio_unitario], [precio_cantidad], [itbis], [subtotal]) VALUES (7, 3, 6, 4, CAST(N'2025-10-31T11:05:42.660' AS DateTime), N'Pago realizado con exito', 10, CAST(7.99 AS Decimal(10, 2)), CAST(79.90 AS Decimal(10, 2)), CAST(12.19 AS Decimal(10, 2)), CAST(92.09 AS Decimal(10, 2)))
INSERT [dbo].[detalle_factura] ([id_factura], [id_cliente], [id_empleado], [id_inventario], [fecha_venta], [descripcion], [cantidad], [precio_unitario], [precio_cantidad], [itbis], [subtotal]) VALUES (7, 3, 6, 5, CAST(N'2025-10-31T11:05:42.660' AS DateTime), N'Pago realizado con exito', 12, CAST(4.99 AS Decimal(10, 2)), CAST(59.88 AS Decimal(10, 2)), CAST(9.13 AS Decimal(10, 2)), CAST(69.01 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id_empleado], [nombres], [apellidos], [id_sexo], [id_estado_civil], [fecha_nacimiento], [edad], [fecha_contrato], [telefono], [email], [direccion], [id_cargo], [salario], [id_estado]) VALUES (4, N'Juan', N'Elias', 1, 3, CAST(N'2003-03-21' AS Date), 22, CAST(N'2025-05-07' AS Date), N'809-555-4848', N'juan@gmail.com', N'San pedro de Macoris', 5, CAST(70000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[empleados] ([id_empleado], [nombres], [apellidos], [id_sexo], [id_estado_civil], [fecha_nacimiento], [edad], [fecha_contrato], [telefono], [email], [direccion], [id_cargo], [salario], [id_estado]) VALUES (6, N'Cristal', N'Maria', 2, 3, CAST(N'2000-12-23' AS Date), 24, CAST(N'2025-09-18' AS Date), N'809-777-1515', N'cristal@gmail.com', N'La Romana', 1, CAST(80000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[empleados] ([id_empleado], [nombres], [apellidos], [id_sexo], [id_estado_civil], [fecha_nacimiento], [edad], [fecha_contrato], [telefono], [email], [direccion], [id_cargo], [salario], [id_estado]) VALUES (9, N'Luisa', N'Maria', 2, 3, CAST(N'1985-07-04' AS Date), 40, CAST(N'2025-10-15' AS Date), N'809-333-0909', N'lm@gmail.com', N'Punta Cana', 5, CAST(70000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([id_estado], [estado]) VALUES (1, N'activo')
INSERT [dbo].[estados] ([id_estado], [estado]) VALUES (2, N'inactivo')
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_civiles] ON 

INSERT [dbo].[estados_civiles] ([id_estado_civil], [estado_civil]) VALUES (1, N'soltero/a')
INSERT [dbo].[estados_civiles] ([id_estado_civil], [estado_civil]) VALUES (2, N'estudiante')
INSERT [dbo].[estados_civiles] ([id_estado_civil], [estado_civil]) VALUES (3, N'casado/a')
SET IDENTITY_INSERT [dbo].[estados_civiles] OFF
GO
SET IDENTITY_INSERT [dbo].[facturas] ON 

INSERT [dbo].[facturas] ([id_factura], [id_cliente], [fecha_venta], [id_metodo_pago], [total_pagado]) VALUES (6, 5, CAST(N'2025-10-23T22:03:12.873' AS DateTime), 1, CAST(779.12 AS Decimal(10, 2)))
INSERT [dbo].[facturas] ([id_factura], [id_cliente], [fecha_venta], [id_metodo_pago], [total_pagado]) VALUES (7, 3, CAST(N'2025-10-31T11:05:42.660' AS DateTime), 1, CAST(1135.00 AS Decimal(10, 2)))
INSERT [dbo].[facturas] ([id_factura], [id_cliente], [fecha_venta], [id_metodo_pago], [total_pagado]) VALUES (8, 14, CAST(N'2025-11-04T10:47:12.770' AS DateTime), 1, CAST(2648.43 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[inventarios] ON 

INSERT [dbo].[inventarios] ([id_inventario], [id_suplidor], [producto], [descripcion], [cantidad], [precio_compra], [precio_venta], [id_categoria], [fecha_ingreso]) VALUES (1, 1, N'Shampo', N'Shampo de Coco', 11, CAST(150.00 AS Decimal(10, 2)), CAST(169.00 AS Decimal(10, 2)), 2, CAST(N'2025-10-21T00:00:00.000' AS DateTime))
INSERT [dbo].[inventarios] ([id_inventario], [id_suplidor], [producto], [descripcion], [cantidad], [precio_compra], [precio_venta], [id_categoria], [fecha_ingreso]) VALUES (4, 4, N'Curling Puree', N'Crema de Peinar', 9, CAST(5.99 AS Decimal(10, 2)), CAST(7.99 AS Decimal(10, 2)), 2, CAST(N'2025-10-30T00:00:00.000' AS DateTime))
INSERT [dbo].[inventarios] ([id_inventario], [id_suplidor], [producto], [descripcion], [cantidad], [precio_compra], [precio_venta], [id_categoria], [fecha_ingreso]) VALUES (5, 5, N'Moroccan ArganOil', N'Tratamiento Capilar', 2, CAST(2.70 AS Decimal(10, 2)), CAST(4.99 AS Decimal(10, 2)), 2, CAST(N'2025-10-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[inventarios] OFF
GO
SET IDENTITY_INSERT [dbo].[metodos_pagos] ON 

INSERT [dbo].[metodos_pagos] ([id_metodo_pago], [metodo_pago]) VALUES (1, N'Pago en Efectivo')
INSERT [dbo].[metodos_pagos] ([id_metodo_pago], [metodo_pago]) VALUES (2, N'Pago por Transferencia')
SET IDENTITY_INSERT [dbo].[metodos_pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[paises] ON 

INSERT [dbo].[paises] ([id_pais], [pais]) VALUES (1, N'Argentina')
INSERT [dbo].[paises] ([id_pais], [pais]) VALUES (2, N'Brasil')
INSERT [dbo].[paises] ([id_pais], [pais]) VALUES (3, N'España')
SET IDENTITY_INSERT [dbo].[paises] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_rol], [rol]) VALUES (1, N'Administrador General')
INSERT [dbo].[roles] ([id_rol], [rol]) VALUES (2, N'Administrador de Clientes y Empleados')
INSERT [dbo].[roles] ([id_rol], [rol]) VALUES (3, N'Administrador de Suplidores e Inventarios')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sexos] ON 

INSERT [dbo].[sexos] ([id_sexo], [sexo]) VALUES (1, N'masculino')
INSERT [dbo].[sexos] ([id_sexo], [sexo]) VALUES (2, N'femenino')
SET IDENTITY_INSERT [dbo].[sexos] OFF
GO
SET IDENTITY_INSERT [dbo].[suplidores] ON 

INSERT [dbo].[suplidores] ([id_suplidor], [nombres], [telefono], [email], [direccion], [id_pais], [id_estado], [RNC]) VALUES (1, N'Procter & Gamble', N'(809) 513-1100', N'products@p&g.com', N'Av. W Churchill 1001, Santo Domingo, RD', 1, 1, N'0')
INSERT [dbo].[suplidores] ([id_suplidor], [nombres], [telefono], [email], [direccion], [id_pais], [id_estado], [RNC]) VALUES (2, N'Coty Inc.', N'(212) 389-7300', N'ci@products.com', N'350 Fifth Avenue, 17th Floor New York, NY 10118', 2, 1, N'0')
INSERT [dbo].[suplidores] ([id_suplidor], [nombres], [telefono], [email], [direccion], [id_pais], [id_estado], [RNC]) VALUES (4, N'Afro Love', N'(809) 484-7878', N'afro@afrolove.com', N'Santo Domingo', 7, 1, N'101-01045-2')
SET IDENTITY_INSERT [dbo].[suplidores] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [id_empleado], [usuario], [pass], [id_rol], [id_estado], [fecha_creacion], [ultimo_acceso]) VALUES (1, 34, N'hal', N'th023', 1, 1, CAST(N'1905-07-01T00:00:00.000' AS DateTime), CAST(N'2025-12-22T18:16:08.983' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [id_empleado], [usuario], [pass], [id_rol], [id_estado], [fecha_creacion], [ultimo_acceso]) VALUES (2, 10, N'vende', N'12345', 4, 1, CAST(N'1905-07-01T00:00:00.000' AS DateTime), CAST(N'2025-12-10T16:31:01.143' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [id_empleado], [usuario], [pass], [id_rol], [id_estado], [fecha_creacion], [ultimo_acceso]) VALUES (3, 13, N'admce', N'ce12', 2, 1, CAST(N'1905-07-01T00:00:00.000' AS DateTime), CAST(N'2025-10-21T12:29:27.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_telefono]    Script Date: 5/1/2026 16:12:40 ******/
ALTER TABLE [dbo].[empleados] ADD  CONSTRAINT [UQ_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [password_unico]    Script Date: 5/1/2026 16:12:40 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [password_unico] UNIQUE NONCLUSTERED 
(
	[pass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [usuario_unico]    Script Date: 5/1/2026 16:12:40 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [usuario_unico] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoFactura] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [FK_EmpleadoFactura]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_ClienteFactura] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_ClienteFactura]
GO
ALTER TABLE [dbo].[inventarios]  WITH CHECK ADD  CONSTRAINT [FK_InvSuplidor] FOREIGN KEY([id_suplidor])
REFERENCES [dbo].[suplidores] ([id_suplidor])
GO
ALTER TABLE [dbo].[inventarios] CHECK CONSTRAINT [FK_InvSuplidor]
GO
